<div class="messenger">
    <div class="profile">
        <div class="profile__contact">
            <div class="setting-icon">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>

        <div class="profile__tool"></div>

        <div class="profile__user">
            <div class="user__avatar">
                <img src="{{img_user}}" alt="user avatar">
            </div>
            <div class="setting-icon">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
    </div>
    <div class="body">
        {{#each messages}}
            <div class="message__box {{#if contact}}message__box_contact{{else}}message__box_user{{/if}}">
                <p>{{message}}</p>
                <span>{{date}}</span>
                <span>{{time}}</span>
            </div>
        {{/each}}
    </div>
    <div class="textarea">
        <textarea class="textarea__message" placeholder="Введите сообщение"></textarea>
        <div class="textarea__tools">
            <div>
                <i class="fas fa-paperclip"></i>
            </div>
            <div class="tools__smile">
                <i class="far fa-smile"></i>
            </div>
            <div>
                <i class="fas fa-paper-plane"></i>
            </div>
        </div>
    </div>
</div>